@mixin roboto
  font-family: 'Roboto', 'Roboto-Regular', sans-serif
  font-weight: 400

@mixin roboto-med
  font-family: 'Roboto', 'Roboto-Medium', sans-serif
  font-weight: 500

@mixin main
  font-family: 'AvenirNextCyr', sans-serif
  font-weight: 400

@mixin medium
  font-family: 'AvenirNextCyr', sans-serif
  font-weight: 500
