{% set 'route' = 'services' %}
{% set 'lang' = 'uk' %}
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header services-header">
  <div class="container">
    <div class="services-header__text-content">
      <span class="moc-text">Предмети декору — це завершаючий акорд інтер'єру вашої оселі.</span>
      <h1 class="services-h1">Декор</h1>
      <p class="services-descriptor">Створюємо дизайнерські елементи декорування, які доповнюють і підкреслюють стиль
        інтер'єру.
      </p>
    </div>
  </div>
  <div class="services-header-imgs">
    <div class="header-image first">
      <div class="img-wrapper">
        <div class="img-rewealer top"></div>
        <img src="{% if lang %}.{% endif %}./img/handmade/header-1.jpg" alt="header-1">
      </div>
    </div>
    <div class="header-image second">
      <div class="img-wrapper">
        <div class="img-rewealer top"></div>
        <img src="{% if lang %}.{% endif %}./img/handmade/header-2.jpg" alt="header-2">
      </div>
    </div>
    <div class="header-image third">
      <div class="img-wrapper">
        <div class="img-rewealer top"></div>
        <img src="{% if lang %}.{% endif %}./img/handmade/header-3.jpg" alt="header-3">
      </div>
    </div>
    <div class="header-image fourth">
      <div class="img-wrapper fourth">
        <div class="img-rewealer top"></div>
        <img src="{% if lang %}.{% endif %}./img/handmade/header-4.jpg" alt="header-4">
      </div>
    </div>
  </div>
</header>
<main>
  <section class="section default">
    <div class="default-item">
      <div class="container last">
        <div class="default-item__content-wrapper">
          <div class="filter">
            <p class="filter-title">
              Категорії
            </p>
            <div class="filter-btns">
              <button class="filter-btn">
                меблі
              </button>
              <button class="filter-btn">
                Хідники
              </button>
              <button class="filter-btn">
                декор
              </button>
              <button class="filter-btn">
                Всі
              </button>
            </div>
          </div>
          <ul class="img-list">
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-1.jpg" alt="handmade-1">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-2.jpg" alt="handmade-2">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-3.jpg" alt="handmade-3">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-4.jpg" alt="handmade-4">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-5.jpg" alt="handmade-5">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-6.jpg" alt="handmade-6">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
            <li class="img-li">
              <a class="stroke-link" href="product.html">
                <img src="{% if lang %}.{% endif %}./img/handmade/def-7.jpg" alt="handmade-7">
                <div class="text-wrapper">
                  <p class="text-name">
                    назва
                  </p>
                  <p class="text-category">
                    Категорія
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
{% include "partials/_footer.html" %}
{% endblock %}
